main{
    font-size: 20px;
    width: 400px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(26, 145, 135);
    
}
#display{
    background-color: rgb(219, 184, 184);    
    height: 15%;
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 2em;
}
#digits{
    margin: auto;
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
button{
    font-size: 20px;
    height: 70px;
    width: 70px;
    position: relative;
    top: 15%;
    left: 10%;
    border-radius: 40px;
    background-color: pink;
    border : pink 
}
.border{
    border: rgb(70, 64, 64) solid 2px;
    border-radius: 5px;
}
.greyColor{
    background-color: grey;
}